<div class="row main-banner">

  <div class="content-div">
    <p class="content-para">Are you a student, a graduate or a young professional?
        <br><span class="content-span">CareerNaksha provides personalized data-driven career <br> counselling to build your career.</span></p>
   <button (click)="openLoginDialog()" class="profile-button">BUILD YOUR PROFILE TODAY</button>
  </div>

</div>






<div class="row content-two">
  <div class="col-md-9" style="padding-top:5px;padding-bottom:10px;">
    <p class="paratwo">
        Our <span class="spantwo">dedicated team</span> comprises career counsellors who have
        experiences in a wide range of <span class="spantwo"> fields, industries, MNCs, startups,</span>
        having a common vision to <span class="spantwo">guide, mentor and work </span>closely with you
        to <span class="spantwo"> build</span> your <span class="spantwo">career.</span>  Also, we help to <span class="spantwo"> explore</span> new <span class="spantwo">career options</span>
        that are in demand and <span class="spantwo">cater</span> to your  <span class="spantwo">interest.</span>
    </p>
  </div>
  <div class="col-md-3 image-col">
    <img src="../../assets/images/homepage/leader.png" alt="leader" class="leader">
  </div>
</div>


<div class="row steps-div" >
   <div class="steps-button-div">
     <button class="steps-button">STEPS TO ADVANCE YOUR CAREER</button>
   </div>
   <div class="row" style="width:100%;height:290px;">
     <div class="col-md-4" align="center">
        <div class="circle"><img src="../../assets/images/homepage/Register.png" alt="options" class="options"></div>
        <p class="steps-para">REGISTER</p>
     </div>
     <div class="col-md-4" align="center">
        <div class="circle"><img src="../../assets/images/homepage/Create_your_profile.png" alt="options" class="options"></div>
        <p class="steps-para">CREATE YOUR PROFILE</p>
     </div>
     <div class="col-md-4" align="center">
        <div class="circle"><img src="../../assets/images/homepage/Connect_with_counsellor.png" alt="options" class="options"></div>
        <p class="steps-para">CONNECT WITH YOUR <br> PERSONAL COUNSELLOR</p>
      </div>
   </div>
</div>




<div class="row story-div" >
    <div class="story-button-div">
      <button class="story-button">SUCCESS STORIES</button>
    </div>

    <div style="padding-left:0%;padding-right:0px;" class="row inner-testimonial-row">
        
          <div class="row carousel_main_div">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active text-center;">
                  <div class="row text-center" style="padding: 5%; padding-bottom: 3%;">
                   
                    <div class="col-lg-12  carousel_right_div" style="text-align: left;">

                      <div class="row story-one">

                        <div class="col-md-3" align="center">
                           
                        </div>
                        <div class="col-md-9" style="padding-top:70px;padding-bottom:80px;padding-left:94px;padding-right:122px;">

                            <p style="font-size: 18px;font-weight:500;color: rgb(0,167,157);">Started working with careernaksha experts as soon as I graduated. The entire process, from the counseling sessions to SoP editing, was well coordinated and helped me build profile for top schools. Throughout the application process, the assigned counsellor pushes you to make every aspect of the application perfect. The cousnelling team is highly responsive and goes out of their way to help you. I highly recommend careernaksha to any student aspiring to go fro abroad studies.</p>

                        </div>

                      </div>

                       <div class="row" style="margin-top:35px;  width: 100%;
                       height: 350px;
                       background-image: url('../../assets/images/success.png');
                       background-size:1090px 333px;
                       background-position:center;
                       background-repeat: no-repeat;
                       margin-right:0px;
                       margin-left:0px;
                       padding-left: 0px;
                       padding-right: 0px;">

                        
                        <div class="col-md-9" style="padding-top:80px;padding-bottom:80px;padding-left:127px;padding-right:75px;">

                            <p style="font-size: 18px;font-weight:500;color: rgb(0,167,157);">I am very grateful to CareerNaksha for providing me with right guidance for pursuing higher education abroad. I have received detailed information regarding entrance exams, scholarships, courses, universities, financial management, tips to excel in coursework and job prospects available after course completion. I congratulate entire team of CareerNaksha for creating such a wonderful platform of career guidance so that students like us can take the right decision to get the best out of ourselves.</p>

                        </div>
                        <div class="col-md-3" align="center">
                           
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                
                <div class="carousel-item text-center;">
                  <div class="row text-center" style="padding: 5%; padding-bottom: 3%;">
                    <div class="col-lg-12 carousel_left_div">
                        <div class="row story-one">

                            <div class="col-md-3" align="center">
                               
                            </div>
                            <div class="col-md-9" style="padding-top:82px;padding-bottom:80px;padding-left:99px;padding-right:137px;">
    
                                <p style="font-size: 18px;font-weight:500;color: rgb(0,167,157);">It has been so far a very nice experience with career naksha. Nimish has guided me in a very structured manner, that made me very clear about my college choices. He has also helped me in building up my profile. I wish him and his team all the best for there future endeavors.</p>
    
                            </div>
    
                          </div>
    
                           <div class="row" style="  width: 100%;
                           height: 335px;
                           background-image: url('../../assets/images/success.png');
                           background-size:1044px 342px;
                           background-position:center;
                           background-repeat: no-repeat;
                           margin-right:0px;
                           margin-left:0px;
                           padding-left: 0px;
                           padding-right: 0px;">
    
                           
                            <div class="col-md-9" style="padding-top:73px;padding-bottom:88px;padding-left:127px;padding-right:75px;">
    
                                <p style="font-size: 18px;font-weight:500;color: rgb(0,167,157);">With so many university options available, its very difficult to choose the best ones for your profile. But Nimish made the process very easy for me and helped me at every stage. He suggested the best universities and programs based on my interests and preferences. The brainstorming sessions and essay editing helped me build a strong profile for admissions. I highly recommend CareerNaksha to anyone who is aspiring to join a top university abroad.</p>
    
                            </div>

                            <div class="col-md-3" align="center">
                               
                            </div>
    
                          </div>
                    </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      
                  <div style="padding-right:7px;border-radius:50%;width:50px;height:50px;background-color:rgb(0,167,157);">
                      <span class="fa fa-angle-left"  style="font-weight:900;color:#fff; font-size:46px;"></span>
                      <span class="sr-only">Previous</span>
                  </div>

                    
                  
        
       
                      
              </a>
              
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <div style="padding-right:1px;border-radius:50%;width:50px;height:50px;background-color:rgb(0,167,157);">
                <span class="fa fa-angle-right"  style="font-weight:900;color: #fff; font-size: 46px;"></span>
                <span class="sr-only">Next</span>
                </div>
              </a>
            </div>
            <!-- <div class="col-md-4 col-xs-12">
                Holy
            </div> -->
          </div>
        </div>
      
    </div>
  </div>


  
  <div class="row" style="margin-right:0px;box-shadow: inset 0 0 0 2000px rgba(38, 169, 224, 0.09);background-color:rgb(0,167,157);
    background-origin: border-box; padding-right: 10%; padding-left: 10%;">
    <div class="col-md-12 text-center" style="padding-top: 3em">
        <button class="blog-button">BLOGS</button>
      <br>
      <br>
    </div>

    
    <div class="container" style="padding-bottom: 4em;">
      <div class="row">
        <div class="col-sm-6">
          <div class="card shadow" style="height:418px;">
            <img class="card-img-top" src="https://edukitapp.com/images/resource/blog-image-3.jpg" alt="Card image cap"
              style="border: 0.2em solid white;">
            <div class="card-body">
              <h4 class="card-title odd-green-text" style="color:rgba(0, 167, 157)">Top 10 Simple Ways How Not To Stress For An Exam And Overcome Anxiety.</h4>
              <p class="card-text" style="font-size: 0.7em">Exam stress and anxiety is a common problem these days among students and candidates preparing for exams. It can be handled through proper guidance and counselling.</p>
                <a routerLink="/blogs/Top-10-Simple-Ways-How-Not-Stress-Exam-Overcome-Anxiety"><button style="color:#fff;background-color:rgba(0, 167, 157);margin-top:21px;" (click)="scroll()" class="btn theme-btn theme-btn-small">Read More</button></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow">
            <img class="card-img-top" src="https://edukitapp.com/images/resource/blog-image-1.jpg" alt="Card image cap"
              style="border: 0.2em solid white;">
            <div class="card-body">
              <h4 class="card-title odd-green-text" style="color:rgba(0, 167, 157)">Why Career Counselling In India Is More Valuable Now Than Ever Before?</h4>
              <p class="card-text" style="font-size: 0.7em">Career counselling is the need of the hour in India. Parents and students are still not aware of new career options emerging and the career option that best fits according to the interest of the student.</p>
              <a routerLink="/blogs/Why-Career-Counselling-India-More-Valuable-Now-Ever-Before?" ><button style="color:#fff;background-color:rgba(0, 167, 157)" (click)="scroll()" class="btn theme-btn theme-btn-small">Read More</button></a>
            </div>
          </div>
        </div>
      </div>
    
 </div>




