<div class="row blog-pic">  
</div>

<div class="container">

  <div class="row">
     <h1 style="font-size:50px;font-weight:600;">Top 10 Simple Ways How Not To Stress For An Exam And Overcome Anxiety.</h1>
  </div>

  <div class="row">

     <div class="col-md-8">

        <div class="row">
          <div class="col-md-3"><p style="font-size:14px;font-weight:800;">JEFFEREY ZACK |</p></div>
          <div class="col-md-4" style="margin-right:0px;"><p style="font-size:14px;font-weight:500;">August 05,2015 at 10:40 |</p></div>
          <div class="col-md-1"><p style="font-size:15px;color:blue;font-weight:600;">Founding</p></div>
          <div class="col-md-4"></div>
        </div>

        <div class="row content-pic">

        </div>

        <div class="row" style="margin-top:25px;margin-bottom:25px;">
           <div class="col-md-3 social-div"><a href="https://www.facebook.com/company/careernaksha" class="social-link"><button style="background-color: #3b5998;" class="social-button"><i class="fab fa-facebook-f"></i> FACEBOOK</button></a></div>
           <div class="col-md-3 social-div" ><a href="https://www.twitter.com/company/careernaksha" class="social-link"><button style="background-color:  #00aced;" class="social-button"><i class="fab fa-twitter"></i> TWITTER</button></a></div>
           <div class="col-md-3 social-div"><a href="https://plus.google.com/107779926432532044968" class="social-link"><button style="background-color:#DB4437;" class="social-button"><i class="fab fa-google-plus-g"></i> GOOGLE +</button></a></div>
           <div class="col-md-1" style="background-color:lightgrey;font-size:16px;">. . .</div>
           <div class="col-md-2"></div>
        </div>

        <div class="row">

       <p style="font-size:17px;font-weight:500;color:rgb(0,167,157);"></p>
       <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">Examination anxiety is an experience where the person goes through the
        intense feeling of fear and panic during an exam or assessment. During the
        exams sometimes our mind freezes, it lands up in a deep thought process
        of either giving up or thinking how is it going to happen. Sometimes heart
        starts racing fast and we sweat out of anxiety even before the examination
        starts. There are generally two ways through which examination anxiety
        can be defined: low and high anxiety.</p>
       <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">Low anxiety is where students go through nervousness prior to an event.
        Still, they try to focus and keep working towards achieving the goals.
        Generally, students with low anxiety do not get stuck by the disturbing
        thoughts or any other distractions.</p>
        <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">In a high anxiety situation, a person goes through an instant emotional
          reaction out of fear and panic. Whenever test situations are exposed to the
          people who suffer from high anxiety, either they attempt to avoid the
          situation or they come up with the conclusion that they are not able to do it.
          Anxiety impedes the performance of a person, it also affects the thought
          process.
          
          Today every student wants to be a high achiever. As a result, he/she
          has high self-expectations which eventually lead to exam stress.</p>
        </div>


      

        <div class="row" *ngIf="showmore">

          <p style="font-size:17px;font-weight:500;color:rgb(0,167,157);"></p>
          <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">Experiencing exam stress is common for every student which is not a
            healthy sign. It is difficult to deal with. But if you take it positively, you
            can benefit from it to see the improved results and come out in flying
            colours. To combat stress, you need to know the reasons behind why
            you get stress. Based on the researchers’ study, the following
            reasons have been found why students experience stress:
            · Lack of preparation and planning
            · Lack of guidance
            · High expectations from others
            · Competition from peers
            Career counsellors have counselled many students and concluded that the
            difference between the student who can vs who can’t handle stress is the
            drive to overcome and pushing it harder with a positive mindset. Some of
            the well known proven ideas which career counsellors advise to their
            clients to overcome stress and exam anxiety are:
            1) Stay away from distractions: Excessive use of mobile phones, video
            games, etc. severely affects memory power, listening capacity,
            eyesight, and concentration. You should stay away from these before
            and during the exams.
            <br>
            <br>
            2) Meditation and exercise: Early morning meditation and exercise
            makes you fit, keeps you calm, relaxed and enhances your
            concentration level. Even with a hectic schedule, make it a habit that
            you meditate and workout for at least half an hour. It works wonders
            in the long run. Yoga is a good option.
            <br>
            <br>
            3) Plan your day using timetable: Planning helps you in better
            preparation and keep track of your activities. You can also make
            incremental improvements when you plan your day to make it more
            effective. You can maintain a diary for this.
            <br>
            <br>
            4) Stay under the guidance of a good mentor: A good mentor can be of
            great help. A mentor motivates and gives the correct guidelines. A
            mentor can be a teacher/senior/elder family member, etc. Also
            nowadays, career counsellors are available who use modern
            techniques to mentor students. You can avail counselling sessions
            
            from these career counsellors on call/email/personal visits. Usually, it
            takes one or more sessions depending upon your requirements.
            <br>
            <br>
            5) Follow a good revision technique: To keep the concept in mind for
            longer, you can follow these techniques.
            a) Whatever is taught in class, revise it on the same day. Revise
            once again the next day, followed by the next week and the
            next month.
            b) Read an easy subject first, then go for the tougher one. It will
            boost up your confidence level and create interest in subjects.
            c) Don’t try to cover 100% syllabus in a haste. Cover only 50-60%
            syllabus with confidence such that any question asked doesn’t
            remain unsolved. Trust me, this really helps.
            <br>
            <br>
            6) Take proper sleep: You should take a sound sleep of at least 6 to 8
            hours a day. Sound sleep helps in keeping your mind fresh and body
            active.
           <br>
           <br>

            7) Take proper diet: You should take a balanced diet. Include sprouts,
            salad, green vegetables, milk and dry fruits like almonds, walnuts,
            etc. in your diet. Avoid taking too much coffee/tea. Drink plenty of
            water. You should drink water in the ratio of 1/10th of your weight.
            <br>
            <br>
            8) Talk to close family member/relative: Sometimes, talking to someone
            close helps you letting yourself out. It clears your heavy mind and
            helps you come out of the stress quicker. But be wise in choosing the
            person you are going to speak to. This person should be someone
            who understands you very well and can be really helpful.
            <br>
            <br>
            9) Classical Music: If you are interested in music, then do listen to
            classical songs for some time. Classical music or any light music
            helps in soothing mind. Nowadays, meditation songs are available
            online which can be downloaded free of cost.
            <br>
            <br>
            10) Stay happy: Don’t forget to smile. You can’t give your 100%
            until you are in a pleasant mood. Stay away from negativity. Playing
            with kids/pets or developing any creative hobby is helpful. Spending
            some time in the lap of nature gives immense pleasure..
            <br>
            <br>
            These are simple ways in which you can overcome stress and perform
really good in your exam. If the stress is still not manageable even after

following these instructions, don’t hesitate to consult a
psychologist/counsellor.
          </p>

           
         
           </div>
   




      
        <div style="text-align:center;width:100%;height:50px;margin-top:15px;
        margin-bottom:25px;">
          <button *ngIf="showbutton" class="read-btn" (click)="showMore()">READ MORE</button>
        </div>





     </div>


     <div class="col-md-4"></div>
  

  </div>
 
</div> 