<div style="text-align:center;height:85px;width:100%;padding-top:20px;padding-bottom:20px;margin-top:65px;">
   <h1 style="color:rgb(0,167,157);font-weight:800;font-size:30px;">CAREERNAKSHA PRODUCTS</h1>
</div>

<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Profile_builder.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Profile Builder | CareerPatri</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
             A custom profile builder using personas to build user&apos;s profile. We collect users data to recommend the best suitable profile based on the users&apos; stengths.
              Build resume/CV/profile which will get JJN noticed and land you that dream job.
           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Guidance.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Guidance | CareerDisha</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
              We provide a dedicated platform to cater to your needs so you can get in touch with the right guide/mentor at the right time.
              Additionally our approach is to connect you with the best fit individual, who has prior experience or close proximity to what you want to do, as a next logical step in your career
              A lifetime mentor helps you throughout you career and CareerNaksha wants to be that enabling platform.
           </p>
          </div>
       </div>
  </div>




</div>




<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/job.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Job/Employment/Internship help | CareerRozgar</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
              Job/Employment/ Internship help | CareerRozgar
              This feature is like an add-on to the existing products. Once you have utilized our main products CareerPramarsh or CareerDisha.
              CareerRozgar will provide you recommendations and filtered list of career opportunities in the form of jobs/employment/internships.
               We bring this information from multiple sources like Naukri, Monstor, Indeed, IIMJobs, etc. based on your future needs/interests.
           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Counselling.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Counselling | CareerPramarsh</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
              A personalized data driven approach to carrer counseling where we analyse the history and profile of the user using our proprietary algorithms and machine learning models.
Based on the data, we predict the best possible career path for the user. Our counselor will also setup a 1:1 meeting to provide an end to end guidance.
Try Our carrer counseling and successfully live the life you want to be.
           </p>
          </div>
       </div>
  </div>




</div>



<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Alumini.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Alumini/Experience connect | CareerSampark</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
              This feature is like an add-on to the existing products. Once you have utilized our main products CareerPramarsh or CareerDisha.
              CareerRozgar will provide you recommendations and filtered list of career opportunities in the form of jobs/employment/internships.
               We bring this information from multiple sources like Naukri, Monstor, Indeed, IIMJobs, etc. based on your future needs/interests.
           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Psychometric.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Psychometric,Personality,Aptitude Test | CareerPariksha</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
              This is a comprehensive assessment test that includes psychometric anaysis, analytics capabilities, personality type, Mix of IQ &amp; EQ parameters, logical reasoning, quantitative and verbal efficiency.
             The output is a report which lists all your results through visualization and helps you understand your personality along with strengths and areas to improve. 
            Further , using this test as benchmark, we apply our machine learning intelligence which will guide you to focus on your core competencies. So that you can capitalise and accelerate you career.
           </p>
          </div>
       </div>
  </div>




</div>



<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Inspirational_lectures.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Inspirational Lectures/Seminars CareerPrerna</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
              Get in touch with us to organize an official lecture/seminar with our official speakers who have domain expertise as well as talk more about various career options and opportunities.
              Also we organize general series of lectures in various Indian cities about how to be successful in carrer, career growth, stress free emjoyable carrer, motivational nd inspirational to students, graduates and early
              professional.
           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="../../assets/images/product/Career_options.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:25px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">Career Options | CareerPath</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
              After you have utilized our products CareerPramarsh or CareerDisha you can further opt CarrerPath.
              This product helps you to visualize you career progression and gives a predictive future career options based on your profile and future needs. You can pick and chose you career choices based on our recommendations and see your future 5 years, 10 years or 20 years down the line.
              In the form of type of job function, type of company , position, salary, returns /savings, etc.
           </p>
          </div>
       </div>
  </div>




</div>



