<div class="row blog-pic">  
</div>

<div class="container">


 <div class="row" style="margin-bottom:20px;">

   <div class="col-md-6">    
    <div class="card" style="width:100%;">
      <img class="card-img-top" src="../../assets/images/one.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Top 10 Simple Ways How Not
          To Stress For An Exam And
          Overcome Anxiety</h4>
        <p class="card-text">Exam stress and anxiety is a
          common problem these days among students
          and candidates preparing for exams. It can be
          handled through proper guidance and
          counselling.></p>
        <a routerLink="/blogs/Top-10-Simple-Ways-How-Not-Stress-Exam-Overcome-Anxiety" (click)="scroll()" class="btn read-more">Read More</a>
      </div>
    </div>
   </div>

   <div class="col-md-6">
    <div class="card" style="width:100%;">
      <img class="card-img-top" src="../../assets/images/two.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Why Career Counselling In India
          Is More Valuable Now Than Ever
          Before?</h4>
        <p class="card-text">Career counselling is the need of the
          hour in India. Parents and students are still not
          aware of new career options emerging and the
          career option that best fits according to the
          interest of the student.!</p>
        <a routerLink="/blogs/Why-Career-Counselling-India-More-Valuable-Now-Ever-Before?" (click)="scroll()" class="btn read-more">Read More</a>
      </div>
    </div>
   </div>

 </div> 

 <div class="row" style="margin-bottom:20px;">

    <div class="col-md-6">    
     <div class="card" style="width:100%;">
       <img class="card-img-top" src="../../assets/images/one.jpg" alt="Card image" style="width:100%">
       <div class="card-body">
         <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non minus in maiores, placeat nemo ipsam. Eum tempore, rem possimus beatae laudantium repellat quos, ipsum odio debitis, sequi vitae commodi corrupti.></p>
         <a href="blog/blogs" class="btn read-more">Read More</a>
       </div>
     </div>
    </div>
 
    <div class="col-md-6">
     <div class="card" style="width:100%;">
       <img class="card-img-top" src="../../assets/images/two.jpg" alt="Card image" style="width:100%">
       <div class="card-body">
         <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
         <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quia laboriosam debitis neque officiis numquam voluptatibus impedit explicabo, esse deserunt aperiam id dicta voluptatum optio, aut, consequuntur nihil earum. Sapiente!</p>
         <a href="blog/blogs" class="btn read-more">Read More</a>
       </div>
     </div>
    </div>
 
  </div> 

  <div class="row" style="margin-bottom:20px;">

      <div class="col-md-6">    
       <div class="card" style="width:100%;">
         <img class="card-img-top" src="../../assets/images/one.jpg" alt="Card image" style="width:100%">
         <div class="card-body">
           <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non minus in maiores, placeat nemo ipsam. Eum tempore, rem possimus beatae laudantium repellat quos, ipsum odio debitis, sequi vitae commodi corrupti.></p>
           <a href="blog/blogs" class="btn read-more">Read More</a>
         </div>
       </div>
      </div>
   
      <div class="col-md-6">
       <div class="card" style="width:100%;">
         <img class="card-img-top" src="../../assets/images/two.jpg" alt="Card image" style="width:100%">
         <div class="card-body">
           <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
           <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quia laboriosam debitis neque officiis numquam voluptatibus impedit explicabo, esse deserunt aperiam id dicta voluptatum optio, aut, consequuntur nihil earum. Sapiente!</p>
           <a href="blog/blogs" class="btn read-more">Read More</a>
         </div>
       </div>
      </div>
   
    </div> 

    <div class="row" style="margin-bottom:20px;">

        <div class="col-md-6">    
         <div class="card" style="width:100%;">
           <img class="card-img-top" src="../../assets/images/one.jpg" alt="Card image" style="width:100%">
           <div class="card-body">
             <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
             <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non minus in maiores, placeat nemo ipsam. Eum tempore, rem possimus beatae laudantium repellat quos, ipsum odio debitis, sequi vitae commodi corrupti.></p>
             <a href="blog/blogs" class="btn read-more">Read More</a>
           </div>
         </div>
        </div>
     
        <div class="col-md-6">
         <div class="card" style="width:100%;">
           <img class="card-img-top" src="../../assets/images/two.jpg" alt="Card image" style="width:100%">
           <div class="card-body">
             <h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">Career Fact 001</h4>
             <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quia laboriosam debitis neque officiis numquam voluptatibus impedit explicabo, esse deserunt aperiam id dicta voluptatum optio, aut, consequuntur nihil earum. Sapiente!</p>
             <a href="blog/blogs" class="btn read-more">Read More</a>
           </div>
         </div>
        </div>
     
      </div> 

 

 
 

</div> 