<div class="row blog-pic">  
</div>

<div class="container">

  <div class="row">
     <h1 style="font-size:50px;font-weight:600;">Why Career Counselling In India Is More Valuable Now Than Ever Before?</h1>
  </div>

  <div class="row">

     <div class="col-md-8">

        <div class="row">
          <div class="col-md-3"><p style="font-size:14px;font-weight:800;">JEFFEREY ZACK |</p></div>
          <div class="col-md-4" style="margin-right:0px;"><p style="font-size:14px;font-weight:500;">August 05,2015 at 10:40 |</p></div>
          <div class="col-md-1"><p style="font-size:15px;color:blue;font-weight:600;">Founding</p></div>
          <div class="col-md-4"></div>
        </div>

        <div class="row content-pic">

        </div>

        <div class="row" style="margin-top:25px;margin-bottom:25px;">
           <div class="col-md-3 social-div"><a href="https://www.facebook.com/company/careernaksha" class="social-link"><button style="background-color: #3b5998;" class="social-button"><i class="fab fa-facebook-f"></i> FACEBOOK</button></a></div>
           <div class="col-md-3 social-div" ><a href="https://www.twitter.com/company/careernaksha" class="social-link"><button style="background-color:  #00aced;" class="social-button"><i class="fab fa-twitter"></i> TWITTER</button></a></div>
           <div class="col-md-3 social-div"><a href="https://plus.google.com/107779926432532044968" class="social-link"><button style="background-color:#DB4437;" class="social-button"><i class="fab fa-google-plus-g"></i> GOOGLE +</button></a></div>
           <div class="col-md-1" style="background-color:lightgrey;font-size:16px;">. . .</div>
           <div class="col-md-2"></div>
        </div>

        <div class="row">

       <p style="font-size:17px;font-weight:500;color:rgb(0,167,157);"></p>
       <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">“Well begun is half done”. This proverb explains the essence of career
        counselling to a greater extent. If one chooses the right field in career, it
        pays in the long run. Career planning begins right from childhood and
        continues for the lifetime. Career planning is the result of many factors
        comprising capabilities, education, mindset and personality. Career
        counselling is the field of expertise which helps the students to choose the
        right field for education or profession. It has gained immense popularity in
        India with an increased competition in the market lately which itself depicts
        the story.
        The world of work is changing continuously and rapidly. The career
        opportunities which are prevalent these days were not in existence five or
        ten years ago. As there are new inventions and discoveries, the work
        environment is changing accordingly. So, one can’t stick to a particular
        career for a lifetime. With the boom in career opportunities, students often
        get confused with the right choice of career.</p>
       <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">Reasons behind why career counselling in India is more valuable now
        than ever before are as follows:</p>
        </div>


      

        <div class="row" *ngIf="showmore">

          <p style="font-size:17px;font-weight:500;color:rgb(0,167,157);"></p>
          <p style="font-size:17px;color:rgb(0,167,157);font-weight:600;">1) Career counselling is a boon for those who are not aware of the
            latest trends- In India, parents still like to decide the career options
            for their children based on traditional courses. Also, they think that if
            they couldn’t fulfil their dreams, then their son/daughter should grab
            that career opportunity. And even children are not much aware of the
            courses/colleges available in trend. Career counsellors are the
            experts who help students or professionals to find realistic positions
            based on their skills, interests, experience etc. They explore all the
            available options. If there are any options available and you are
            interested yet not qualified for that, then the counsellors will set the
            correct path to acquire the knowledge for the same.
            <br>
            <br>
            2) A book should not be judged by its cover- Choosing a career is
            seen as a way to integrate into society whether as a doctor, as a
            teacher and also as a social welfare-oriented employee like career
            counsellor. Career counsellors try to find a person’s original pain.
            This pain lays the background for a person’s career. Career
            counsellors help to combat this pain and enable the person to use
            this pain as a strength and build a career to prove oneself. The more
            pain a person goes through in life, the more willing he is to prove
            himself. Once a student/youngster is determinant, he is motivated to
            work very hard to achieve his goals.
            <br>
            <br>
            3) Career counsellors help in dealing with career crossroads-
            Youngsters consult career counsellors when they have natural
            crossroads like choosing a field of study, a school, a university or a
            wide range of employment opportunities. Then, the second
            crossroads which youngsters face is when they have doubts about
            whether they have made the right choice in terms of schools,
            universities, careers or employers. It can be a long and confusing
            task for the students to find an ideal career. Sometimes, the individual
            may feel that a specific job is suitable for him. But it may turn up as
            the biggest hurdle in his career and personal growth. That’s why it is
            important to utilize the skills of an experienced and well-informed
            counsellor who can help to locate and land up with that one perfect
            job.
            <br>
            <br>
            4) Adaptation to the changing work environment- In the present
            scenario, especially in India, the job market is facing a lot of
            competition. The versatility of profession in India requires multi-skilled
            individuals. Career counsellors help the individuals to select and learn
            different skills viz. skill management techniques. They assist students
            in their career growth through well-proved modern techniques. Also,
            employees are being confronted continuously with the impact of the
            changes in the workplace. They have to deal with the crossroads
            frequently. They are uncertain whether they will be able to deal with
            the changes. Career counsellors encourage them to deal with these
            kinds of situation.
            <br>
            <br>
            5) Right career/employment opportunities for the right candidate-
            Right career/employment opportunities for the right candidate is the
            need of the hour. A majority of youngsters are not able to use their
            skills in building their career because of wrong career choice. This
            hampers the growth of the candidate as well as the company. You
            can find the right career, but there is a need to have a deep
            knowledge of courses to be chosen so that your capabilities match
            with your interests. There are possibilities that you might be wanting
            to pursue a career which may prove to be a debacle in your career
            graph. Career counselling in India ensures the right guidance to
            overcome any diversion or ambiguity. Also, career counsellors
            prevent students from making a wrong career choice. Career
            counsellors ensure that students have the clarity of thought. They
            make themselves available for students anytime on call/online/in
            person.</p>
         
           </div>
   




      
        <div style="text-align:center;width:100%;height:50px;margin-top:15px;
        margin-bottom:25px;">
          <button *ngIf="showbutton" class="read-btn" (click)="showMore()">READ MORE</button>
        </div>





     </div>


     <div class="col-md-4"></div>
  

  </div>
 
</div> 